{% extends 'main.html' %}

{% block content %}

<h1>Hello this is my profile</h1>

<main class="text-center" style="text-align: center;">

  <img src="../static/images/IMG_20190415_110740.jpg" style="width:1000px;height:800px"/>
  <h1 style="text-align: center; text-color: #ffffff">Isac Bruce</h1>


  <div class="" id="about">
    <h1>Who am I?</h1>
    <p>Hello My name is Isac Bruce</p>


  </div>

  <div class="" id="work">
    <h1>What do I do?</h1>
    <p>I work for various projects when I am not studying in school</p>
    <img src="../static/images/water.jpg" style="width:100%;height:400px"/>

  </div>

</main>
{% endblock content %}
