:root {
    --background: rgba(170, 90, 0, 1);
    --shadow: rgba(0, 0, 0, 0.29);
    --font: 'Roboto Mono', monospace;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: var(--font);
  background: var(--background);
}


.title {
		  font-size: 20mm;
	    text-align: center;
	    color: #000;
      font-family: var(--font);
	    font-weight: 1000;
      padding: 10mm 10mm 20mm 10mm;
      text-shadow: -2mm 2mm 0 var(--shadow);
      animation: fadeInAnimation 1s ease-in-out 0.5s forwards;
}


.mainCont{
	width:1000px;
	margin: 50mm auto;
}


.terminalCont{
	background: black;
	width: 100%;
	border-radius: 10px;
  padding: 2.5mm 0mm 0mm 0mm;
  position: auto;
  top: -90px;
  font-family: var(--font);
  opacity: 0;
  box-shadow: -1em 1em 0 var(--shadow);

  animation:
    slideDownAnimation 1s ease-in-out 1s forwards,
    fadeInAnimation 0.8s ease-in-out 1s forwards;
}

.userEnteredText{
  color: rgba(255,255,255,0.5);
  margin: 0;
  padding: 0;
  display: inline-block;
}

#terminalContentsResult{
	width:100%;
	height: 400px;
	padding: 12px;
	overflow-y: auto;
	resize: none;
	border: none;
	font-size: 14px;
  line-height: 18px;
	display: block;
	color: rgba(255,255,255,0.9);
}


#terminalContentsResult a{
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}

#terminalContentsResult a:hover{
  text-decoration: underline;
}

#terminalTextInput{
	background: black;
	display: block;
	border: none;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-radius: 0 0 10px 10px;
	width: 100%;
	color: white;
	padding: 18px;
	font-size: 14px;
  outline: none;
  font-family: var(--font);
}

@-webkit-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes slideDownAnimation {
  0%   { margin-top: -20px;}
  100% { margin-top: 0;}
}
@-moz-keyframes slideDownAnimation {
  0%   { margin-top: -20px;}
  100% { margin-top: 0;}
}
@-o-keyframes slideDownAnimation {
  0%   { margin-top: -20px;}
  100% { margin-top: 0;}
}
@keyframes slideDownAnimation {
  0%   { margin-top: -20px;}
  100% { margin-top: 0;}
}

@media screen and (max-width: 1000px){

  .mainCont{
    width: 100%;
    padding: 0 12px;
  }
  .mainCont h2{
    font-size: 32px;
    margin: 40px 0 0 0;
  }
  .mainCont h3{
    font-size: 16px;
    margin: 0 0 40px 0;
  }
  #terminalContentsResult{
    height: 100px;
  }

}
